body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:587px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:587px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1 {
  position:absolute;
  left:2px;
  top:286px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:430px;
}
#u2 {
  position:absolute;
  left:375px;
  top:60px;
  width:450px;
  height:430px;
}
#u3 {
  position:absolute;
  left:2px;
  top:207px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:136px;
}
#u4 {
  position:absolute;
  left:519px;
  top:97px;
  width:162px;
  height:135px;
  font-size:18px;
}
#u5 {
  position:absolute;
  left:2px;
  top:56px;
  width:158px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:480px;
  top:252px;
  width:235px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:450px;
  top:294px;
  width:300px;
  height:32px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8_input {
  font-family:'微软雅黑';
}
#u9 {
  position:absolute;
  left:450px;
  top:336px;
  width:300px;
  height:32px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9_input {
  font-family:'微软雅黑';
}
#u10 {
  position:absolute;
  left:450px;
  top:378px;
  width:199px;
  height:32px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10_input {
  font-family:'微软雅黑';
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  position:absolute;
  left:659px;
  top:378px;
  width:91px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:450px;
  top:426px;
  width:300px;
  height:34px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background-color:transparent;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u13_input {
  font-family:'微软雅黑';
}
