body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1299px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:187px;
  top:260px;
  width:73px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:170px;
  top:288px;
  width:564px;
  height:462px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:462px;
}
#u3 {
  position:absolute;
  left:2px;
  top:223px;
  width:560px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:714px;
  top:288px;
  width:155px;
  height:465px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:465px;
}
#u5 {
  position:absolute;
  left:2px;
  top:224px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:879px;
  top:368px;
  width:237px;
  height:51px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:51px;
}
#u7 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:879px;
  top:427px;
  width:237px;
  height:51px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:51px;
}
#u9 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:880px;
  top:487px;
  width:237px;
  height:51px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:51px;
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:880px;
  top:546px;
  width:237px;
  height:51px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:51px;
}
#u13 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:880px;
  top:605px;
  width:237px;
  height:51px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:51px;
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:100px;
  width:1299px;
  height:130px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:130px;
}
#u17 {
  position:absolute;
  left:2px;
  top:57px;
  width:1295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:370px;
  top:790px;
  width:41px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:494px;
  top:790px;
  width:147px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:444px;
  top:790px;
  width:40px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:658px;
  top:790px;
  width:40px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:719px;
  top:790px;
  width:27px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:752px;
  top:72px;
  width:27px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:13px;
  top:46px;
  width:63px;
  height:49px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:49px;
}
#u31 {
  position:absolute;
  left:2px;
  top:16px;
  width:59px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:88px;
  top:59px;
  width:181px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:812px;
  top:72px;
  width:53px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:1000px;
  top:73px;
  width:67px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1174px;
  top:73px;
  width:69px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1088px;
  top:74px;
  width:67px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:906px;
  top:74px;
  width:53px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:160px;
  top:320px;
  width:700px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:36px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:36px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:1295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1139px;
  top:10px;
  width:27px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:1197px;
  top:10px;
  width:27px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:616px;
  top:263px;
  width:200px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u52 {
  position:absolute;
  left:834px;
  top:270px;
  width:27px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:879px;
  top:308px;
  width:237px;
  height:51px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:51px;
}
#u55 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
