body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:948px;
  top:652px;
  width:320px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:596px;
  top:241px;
  width:164px;
  height:50px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:160px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:446px;
  top:240px;
  width:174px;
  height:51px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:51px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:170px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:348px;
  top:356px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:374px;
  top:400px;
  width:27px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:460px;
  top:402px;
  width:14px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:551px;
  top:402px;
  width:14px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:431px;
  top:402px;
  width:16px;
  height:16px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:522px;
  top:402px;
  width:16px;
  height:16px;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:374px;
  top:446px;
  width:27px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:374px;
  top:495px;
  width:27px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:374px;
  top:543px;
  width:27px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:374px;
  top:591px;
  width:27px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:335px;
  top:639px;
  width:66px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:348px;
  top:687px;
  width:53px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:380px;
  top:735px;
  width:21px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:348px;
  top:784px;
  width:53px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:294px;
  top:240px;
  width:174px;
  height:51px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:51px;
}
#u35 {
  position:absolute;
  left:2px;
  top:16px;
  width:170px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:600px;
  top:149px;
  width:200px;
  height:70px;
  color:#FF0000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
}
#u37 {
  position:absolute;
  left:2px;
  top:27px;
  width:196px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:336px;
  top:356px;
  width:8px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:361px;
  top:402px;
  width:8px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:22px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:361px;
  top:447px;
  width:8px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:22px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:361px;
  top:494px;
  width:8px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:22px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:361px;
  top:544px;
  width:8px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:22px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:361px;
  top:588px;
  width:8px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:22px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:324px;
  top:640px;
  width:8px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:335px;
  top:687px;
  width:8px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:22px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:334px;
  top:784px;
  width:8px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:22px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:868px;
  top:370px;
  width:53px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:948px;
  top:355px;
  width:252px;
  height:37px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
}
#u59 {
  position:absolute;
  left:2px;
  top:10px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:868px;
  top:459px;
  width:53px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:857px;
  top:507px;
  width:66px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:868px;
  top:560px;
  width:53px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:868px;
  top:608px;
  width:53px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:868px;
  top:410px;
  width:53px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:856px;
  top:370px;
  width:8px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:22px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:856px;
  top:460px;
  width:8px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:22px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:854px;
  top:608px;
  width:8px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:22px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:856px;
  top:412px;
  width:8px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:22px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:980px;
  top:414px;
  width:14px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:1071px;
  top:414px;
  width:14px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:951px;
  top:414px;
  width:16px;
  height:16px;
}
#u83 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u84 {
  position:absolute;
  left:1042px;
  top:414px;
  width:16px;
  height:16px;
}
#u85 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u86 {
  position:absolute;
  left:948px;
  top:935px;
  width:274px;
  height:16px;
  color:#FF0000;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:819px;
  top:650px;
  width:105px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:1102px;
  top:666px;
  width:53px;
  height:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:1207px;
  top:666px;
  width:53px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:948px;
  top:692px;
  width:320px;
  height:226px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:226px;
}
#u95 {
  position:absolute;
  left:2px;
  top:105px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:970px;
  top:720px;
  width:74px;
  height:71px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u97 {
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:955px;
  top:662px;
  width:23px;
  height:25px;
}
#u98_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u99 {
  position:absolute;
  left:987px;
  top:666px;
  width:66px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:1074px;
  top:662px;
  width:23px;
  height:25px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u102 {
  position:absolute;
  left:1175px;
  top:662px;
  width:25px;
  height:25px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u103 {
  position:absolute;
  left:1121px;
  top:975px;
  width:114px;
  height:37px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
}
#u104 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:428px;
  top:343px;
  width:252px;
  height:35px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u106 {
  position:absolute;
  left:428px;
  top:428px;
  width:252px;
  height:37px;
}
#u106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u107 {
  position:absolute;
  left:428px;
  top:477px;
  width:252px;
  height:37px;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u108 {
  position:absolute;
  left:428px;
  top:527px;
  width:252px;
  height:37px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u109 {
  position:absolute;
  left:428px;
  top:576px;
  width:252px;
  height:37px;
}
#u109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u110 {
  position:absolute;
  left:428px;
  top:626px;
  width:252px;
  height:37px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u111 {
  position:absolute;
  left:428px;
  top:675px;
  width:252px;
  height:37px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u112 {
  position:absolute;
  left:428px;
  top:725px;
  width:252px;
  height:37px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u113 {
  position:absolute;
  left:428px;
  top:774px;
  width:252px;
  height:37px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u114 {
  position:absolute;
  left:948px;
  top:449px;
  width:252px;
  height:37px;
}
#u114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u115 {
  position:absolute;
  left:948px;
  top:498px;
  width:252px;
  height:37px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u116 {
  position:absolute;
  left:948px;
  top:548px;
  width:252px;
  height:37px;
}
#u116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u117 {
  position:absolute;
  left:948px;
  top:597px;
  width:252px;
  height:37px;
}
#u117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u118 {
  position:absolute;
  left:986px;
  top:975px;
  width:114px;
  height:37px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:1025px;
  top:713px;
  width:8px;
  height:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:1650px;
  top:692px;
  width:320px;
  height:193px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:193px;
}
#u123 {
  position:absolute;
  left:2px;
  top:88px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:1715px;
  top:828px;
  width:83px;
  height:30px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u125 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:1833px;
  top:828px;
  width:83px;
  height:30px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u127 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:1771px;
  top:749px;
  width:81px;
  height:16px;
  font-size:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:1035px;
  top:735px;
  width:329px;
  height:32px;
  color:#FF0000;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:32px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:497px;
  top:900px;
  width:114px;
  height:37px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
}
#u133 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:760px;
  top:1070px;
  width:250px;
  height:150px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:150px;
}
#u135 {
  position:absolute;
  left:2px;
  top:67px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:1097px;
  top:1090px;
  width:313px;
  height:16px;
  color:#FF0000;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:846px;
  top:1114px;
  width:79px;
  height:16px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:780px;
  top:1170px;
  width:92px;
  height:30px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u141 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:896px;
  top:1170px;
  width:92px;
  height:30px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u143 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:821px;
  top:260px;
  width:25px;
  height:132px;
  -webkit-transform:rotate(120deg);
  -moz-transform:rotate(120deg);
  -ms-transform:rotate(120deg);
  transform:rotate(120deg);
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:132px;
}
#u145 {
  position:absolute;
  left:2px;
  top:58px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:348px;
  top:829px;
  width:53px;
  height:16px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:334px;
  top:829px;
  width:8px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:22px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:428px;
  top:821px;
  width:252px;
  height:37px;
}
#u150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
