body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:653px;
  top:270px;
  width:53px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:705px;
  top:330px;
  width:40px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:775px;
  top:320px;
  width:200px;
  height:26px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u5 {
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:985px;
  top:320px;
  width:100px;
  height:26px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
}
#u7 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:705px;
  top:370px;
  width:40px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:775px;
  top:365px;
  width:310px;
  height:26px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:26px;
}
#u11 {
  position:absolute;
  left:2px;
  top:5px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:855px;
  top:426px;
  width:100px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:705px;
  top:496px;
  width:415px;
  height:35px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:35px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1288px;
  top:314px;
  width:40px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:1360px;
  top:300px;
  width:200px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1277px;
  top:370px;
  width:53px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1360px;
  top:356px;
  width:200px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1400px;
  top:410px;
  width:100px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
