<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    
    <!--1、定义任务 -->
    <!--要定时执行的方法-->
    <bean id="testTask" class="com.buss.shoppingcart.controller.TimedTask"/>

    <bean id="testTaskJob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <!-- 指定要定时执行的方法所在类，将定时任务定义成bean -->
            <ref bean="testTask" />
        </property>
        <property name="targetMethod">
            <!--指定定时执行的方法-->
            <value>execute</value>
        </property>
        <property name="concurrent">
            <!--指定目标封装为有状态的任务，有状态的任务不能并发执行，无状态的任务可并发执行-->
            <value>false</value>
        </property>
    </bean>

    <!--
    2、任务执行策略配置
    (1)指定重复间隔的定时任务
    -->
    <!-- 调度时间设置-->
    <bean id="testTaskJobTrigger"
          class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail">
            <ref bean="testTaskJob" />
        </property>
        <!-- 延时启动时间，单位ms -->
        <property name="startDelay" value="300000"></property>
        <!-- 重复间隔时间，单位ms -->
        <!--<property name="repeatInterval" value="60000"></property>-->
    </bean>


    <!--(2)按周期执行的任务-->
    <!-- 定义触发时间 -->
    <bean id="cronTriggerBean"
          class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="testTaskJob" />
        </property>
        <!-- cron表达式，此处是每天10点42执行 -->
        <property name="cronExpression">
            <!--<value>1/59 * * * * ?</value>-->
             <!--每俩小时执行一次-->
            <value>0 0 0/2 * * ?</value>
        </property>
    </bean>

    <!--3、启动任务-->
    <!--启动工作-->
    <bean lazy-init="true"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!-- 这里添加多个定时任务触发器，对应第2步的bean id -->
                <ref bean="cronTriggerBean" />
            </list>
        </property>
    </bean>


</beans>
























