body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:677px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6619 {
  position:absolute;
  left:185px;
  top:0px;
  width:1015px;
  height:677px;
}
#u6620 {
  position:absolute;
  left:2px;
  top:330px;
  width:1011px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:52px;
  background:inherit;
  background-color:rgba(128, 128, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6621 {
  position:absolute;
  left:185px;
  top:59px;
  width:1015px;
  height:52px;
  color:#FFFFFF;
}
#u6622 {
  position:absolute;
  left:2px;
  top:16px;
  width:1011px;
  word-wrap:break-word;
}
#u6623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:577px;
  background:inherit;
  background-color:rgba(128, 128, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6623 {
  position:absolute;
  left:0px;
  top:100px;
  width:180px;
  height:577px;
}
#u6624 {
  position:absolute;
  left:2px;
  top:280px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6625 {
  position:absolute;
  left:0px;
  top:110px;
  width:180px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6626 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u6627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6627 {
  position:absolute;
  left:0px;
  top:161px;
  width:180px;
  height:41px;
}
#u6628 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u6629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6629 {
  position:absolute;
  left:0px;
  top:212px;
  width:180px;
  height:41px;
}
#u6630 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u6631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6631 {
  position:absolute;
  left:0px;
  top:263px;
  width:180px;
  height:41px;
}
#u6632 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u6633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6633 {
  position:absolute;
  left:0px;
  top:314px;
  width:180px;
  height:41px;
}
#u6634 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u6635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6635 {
  position:absolute;
  left:0px;
  top:365px;
  width:180px;
  height:41px;
}
#u6636 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u6637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6637 {
  position:absolute;
  left:0px;
  top:416px;
  width:180px;
  height:41px;
  color:#FFFFFF;
}
#u6638 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u6639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6639 {
  position:absolute;
  left:117px;
  top:619px;
  width:43px;
  height:40px;
}
#u6640 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u6639_ann {
  position:absolute;
  left:153px;
  top:615px;
  width:1px;
  height:1px;
}
#u6642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:101px;
}
#u6642 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:100px;
  font-size:16px;
}
#u6643 {
  position:absolute;
  left:2px;
  top:40px;
  width:176px;
  word-wrap:break-word;
}
#u6642_ann {
  position:absolute;
  left:173px;
  top:-4px;
  width:1px;
  height:1px;
}
#u6644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6644 {
  position:absolute;
  left:1118px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6645 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6644_ann {
  position:absolute;
  left:1168px;
  top:18px;
  width:1px;
  height:1px;
}
#u6646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6646 {
  position:absolute;
  left:958px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6647 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6646_ann {
  position:absolute;
  left:1008px;
  top:18px;
  width:1px;
  height:1px;
}
#u6648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6648 {
  position:absolute;
  left:1038px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6649 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6648_ann {
  position:absolute;
  left:1088px;
  top:18px;
  width:1px;
  height:1px;
}
#u6650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6650 {
  position:absolute;
  left:0px;
  top:462px;
  width:180px;
  height:24px;
}
#u6651 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6652 {
  position:absolute;
  left:66px;
  top:465px;
  width:49px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u6653 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6654 {
  position:absolute;
  left:66px;
  top:489px;
  width:49px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u6655 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6656 {
  position:absolute;
  left:66px;
  top:513px;
  width:49px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u6657 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:232px;
}
#u6658 {
  position:absolute;
  left:419px;
  top:170px;
  width:547px;
  height:232px;
}
#u6659 {
  position:absolute;
  left:2px;
  top:108px;
  width:543px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6658_ann {
  position:absolute;
  left:959px;
  top:166px;
  width:1px;
  height:1px;
}
#u6660 {
  position:absolute;
  left:185px;
  top:459px;
  width:1020px;
  height:102px;
}
#u6661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6661 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
  font-size:16px;
}
#u6662 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:48px;
}
#u6663 {
  position:absolute;
  left:145px;
  top:0px;
  width:128px;
  height:48px;
  font-size:16px;
}
#u6664 {
  position:absolute;
  left:2px;
  top:14px;
  width:124px;
  word-wrap:break-word;
}
#u6665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:48px;
}
#u6665 {
  position:absolute;
  left:273px;
  top:0px;
  width:129px;
  height:48px;
  font-size:16px;
}
#u6666 {
  position:absolute;
  left:2px;
  top:14px;
  width:125px;
  word-wrap:break-word;
}
#u6667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:48px;
}
#u6667 {
  position:absolute;
  left:402px;
  top:0px;
  width:116px;
  height:48px;
  font-size:16px;
}
#u6668 {
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  word-wrap:break-word;
}
#u6669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:48px;
}
#u6669 {
  position:absolute;
  left:518px;
  top:0px;
  width:109px;
  height:48px;
  font-size:16px;
}
#u6670 {
  position:absolute;
  left:2px;
  top:14px;
  width:105px;
  word-wrap:break-word;
}
#u6671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:48px;
}
#u6671 {
  position:absolute;
  left:627px;
  top:0px;
  width:111px;
  height:48px;
  font-size:16px;
}
#u6672 {
  position:absolute;
  left:2px;
  top:14px;
  width:107px;
  word-wrap:break-word;
}
#u6673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:48px;
}
#u6673 {
  position:absolute;
  left:738px;
  top:0px;
  width:152px;
  height:48px;
  font-size:16px;
}
#u6674 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u6675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:48px;
}
#u6675 {
  position:absolute;
  left:890px;
  top:0px;
  width:125px;
  height:48px;
  font-size:16px;
}
#u6676 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u6677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:49px;
}
#u6677 {
  position:absolute;
  left:0px;
  top:48px;
  width:145px;
  height:49px;
  font-size:16px;
}
#u6678 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:49px;
}
#u6679 {
  position:absolute;
  left:145px;
  top:48px;
  width:128px;
  height:49px;
  font-size:16px;
}
#u6680 {
  position:absolute;
  left:2px;
  top:14px;
  width:124px;
  word-wrap:break-word;
}
#u6681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:49px;
}
#u6681 {
  position:absolute;
  left:273px;
  top:48px;
  width:129px;
  height:49px;
  font-size:16px;
}
#u6682 {
  position:absolute;
  left:2px;
  top:14px;
  width:125px;
  word-wrap:break-word;
}
#u6683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:49px;
}
#u6683 {
  position:absolute;
  left:402px;
  top:48px;
  width:116px;
  height:49px;
  font-size:16px;
}
#u6684 {
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  word-wrap:break-word;
}
#u6685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:49px;
}
#u6685 {
  position:absolute;
  left:518px;
  top:48px;
  width:109px;
  height:49px;
  font-size:16px;
}
#u6686 {
  position:absolute;
  left:2px;
  top:14px;
  width:105px;
  word-wrap:break-word;
}
#u6687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:49px;
}
#u6687 {
  position:absolute;
  left:627px;
  top:48px;
  width:111px;
  height:49px;
  font-size:16px;
}
#u6688 {
  position:absolute;
  left:2px;
  top:14px;
  width:107px;
  word-wrap:break-word;
}
#u6689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u6689 {
  position:absolute;
  left:738px;
  top:48px;
  width:152px;
  height:49px;
  font-size:16px;
}
#u6690 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u6691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:49px;
}
#u6691 {
  position:absolute;
  left:890px;
  top:48px;
  width:125px;
  height:49px;
  font-size:16px;
}
#u6692 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
