body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:627px;
  top:550px;
  width:236px;
  height:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:20px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:660px;
  top:320px;
  width:215px;
  height:137px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:137px;
}
#u3 {
  position:absolute;
  left:2px;
  top:60px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:699px;
  top:480px;
  width:97px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:520px;
  top:530px;
  width:420px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:403px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:420px;
  height:1px;
}
#u7 {
  position:absolute;
  left:695px;
  top:591px;
  width:115px;
  height:39px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:39px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
