body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1971px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:100px;
  width:1299px;
  height:130px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:130px;
}
#u1 {
  position:absolute;
  left:2px;
  top:57px;
  width:1295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:752px;
  top:72px;
  width:27px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:13px;
  top:46px;
  width:63px;
  height:49px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:49px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:59px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:88px;
  top:59px;
  width:181px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:812px;
  top:72px;
  width:53px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:1000px;
  top:73px;
  width:67px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1174px;
  top:73px;
  width:69px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1088px;
  top:74px;
  width:67px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:906px;
  top:74px;
  width:53px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:36px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:36px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:1295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1139px;
  top:10px;
  width:27px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1197px;
  top:10px;
  width:27px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:444px;
  top:270px;
  width:285px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:28px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:200px;
  top:364px;
  width:500px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:194px;
  top:800px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u28_ann {
  position:absolute;
  left:268px;
  top:796px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:290px;
  top:800px;
  width:73px;
  height:19px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u30_ann {
  position:absolute;
  left:356px;
  top:796px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:394px;
  top:800px;
  width:73px;
  height:19px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:498px;
  top:800px;
  width:73px;
  height:19px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:602px;
  top:800px;
  width:73px;
  height:19px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:706px;
  top:800px;
  width:73px;
  height:19px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:810px;
  top:800px;
  width:73px;
  height:19px;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:914px;
  top:800px;
  width:73px;
  height:19px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:1912px;
  top:724px;
  width:59px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:150px;
  top:1194px;
  width:785px;
  height:436px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:436px;
}
#u47 {
  position:absolute;
  left:2px;
  top:210px;
  width:781px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:200px;
  top:400px;
  width:502px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:200px;
  top:438px;
  width:502px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:200px;
  top:476px;
  width:502px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:200px;
  top:514px;
  width:502px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:200px;
  top:556px;
  width:502px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:200px;
  top:594px;
  width:502px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:200px;
  top:634px;
  width:502px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:200px;
  top:676px;
  width:502px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:200px;
  top:714px;
  width:502px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
