body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:220px;
  top:0px;
  width:960px;
  height:1080px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:1080px;
}
#u1 {
  position:absolute;
  left:2px;
  top:532px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:260px;
  top:130px;
  width:69px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:263px;
  top:206px;
  width:66px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:260px;
  top:437px;
  width:66px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:262px;
  top:717px;
  width:53px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:262px;
  top:759px;
  width:52px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:263px;
  top:798px;
  width:52px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:263px;
  top:840px;
  width:52px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:502px;
  top:160px;
  width:66px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:420px;
  top:898px;
  width:100px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:808px;
  top:898px;
  width:100px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:340px;
  top:211px;
  width:730px;
  height:192px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:192px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:340px;
  top:437px;
  width:730px;
  height:239px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:239px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:340px;
  top:122px;
  width:140px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:587px;
  top:152px;
  width:180px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:340px;
  top:709px;
  width:350px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  position:absolute;
  left:340px;
  top:751px;
  width:350px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:340px;
  top:792px;
  width:350px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:340px;
  top:833px;
  width:350px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30 {
  position:absolute;
  left:263px;
  top:51px;
  width:240px;
  height:40px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:center;
}
#u30_ann {
  position:absolute;
  left:496px;
  top:47px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:258px;
  top:162px;
  width:72px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:340px;
  top:157px;
  width:140px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
