body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:940px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1957 {
  position:absolute;
  left:185px;
  top:0px;
  width:1015px;
  height:940px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:462px;
  width:1011px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:101px;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:100px;
  font-size:16px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:40px;
  width:176px;
  word-wrap:break-word;
}
#u1960_ann {
  position:absolute;
  left:173px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1962 {
  position:absolute;
  left:1118px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1962_ann {
  position:absolute;
  left:1168px;
  top:18px;
  width:1px;
  height:1px;
}
#u1964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1964 {
  position:absolute;
  left:958px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1964_ann {
  position:absolute;
  left:1008px;
  top:18px;
  width:1px;
  height:1px;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1966 {
  position:absolute;
  left:1038px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1966_ann {
  position:absolute;
  left:1088px;
  top:18px;
  width:1px;
  height:1px;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:52px;
  background:inherit;
  background-color:rgba(128, 128, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1968 {
  position:absolute;
  left:185px;
  top:59px;
  width:1015px;
  height:52px;
  color:#FFFFFF;
}
#u1969 {
  position:absolute;
  left:2px;
  top:16px;
  width:1011px;
  word-wrap:break-word;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:840px;
  background:inherit;
  background-color:rgba(128, 128, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1970 {
  position:absolute;
  left:0px;
  top:100px;
  width:180px;
  height:840px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:412px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1972 {
  position:absolute;
  left:0px;
  top:110px;
  width:180px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1973 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1974 {
  position:absolute;
  left:0px;
  top:263px;
  width:180px;
  height:41px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1976 {
  position:absolute;
  left:0px;
  top:314px;
  width:180px;
  height:41px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1978 {
  position:absolute;
  left:0px;
  top:365px;
  width:180px;
  height:41px;
}
#u1979 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1980 {
  position:absolute;
  left:0px;
  top:416px;
  width:180px;
  height:41px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1982 {
  position:absolute;
  left:0px;
  top:467px;
  width:180px;
  height:41px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1984 {
  position:absolute;
  left:0px;
  top:518px;
  width:180px;
  height:41px;
}
#u1985 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1986 {
  position:absolute;
  left:117px;
  top:862px;
  width:43px;
  height:40px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u1986_ann {
  position:absolute;
  left:153px;
  top:858px;
  width:1px;
  height:1px;
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1988 {
  position:absolute;
  left:0px;
  top:179px;
  width:180px;
  height:24px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1990 {
  position:absolute;
  left:66px;
  top:159px;
  width:49px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1992 {
  position:absolute;
  left:66px;
  top:183px;
  width:61px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1994 {
  position:absolute;
  left:66px;
  top:207px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u1995 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1996 {
  position:absolute;
  left:66px;
  top:231px;
  width:49px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1997 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1998 {
  position:absolute;
  left:403px;
  top:186px;
  width:43px;
  height:19px;
  text-align:right;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2000 {
  position:absolute;
  left:456px;
  top:179px;
  width:220px;
  height:32px;
}
#u2000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2000_input {
  font-family:'微软雅黑';
}
#u2001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2001 {
  position:absolute;
  left:403px;
  top:227px;
  width:43px;
  height:19px;
  text-align:right;
}
#u2002 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2003 {
  position:absolute;
  left:403px;
  top:314px;
  width:43px;
  height:19px;
  text-align:right;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2005 {
  position:absolute;
  left:337px;
  top:137px;
  width:73px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2006 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2007 {
  position:absolute;
  left:337px;
  top:364px;
  width:73px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2008 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2009 {
  position:absolute;
  left:456px;
  top:221px;
  width:220px;
  height:32px;
}
#u2009_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2009_input {
  font-family:'微软雅黑';
}
#u2010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2010 {
  position:absolute;
  left:375px;
  top:269px;
  width:71px;
  height:19px;
  text-align:right;
}
#u2011 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2012 {
  position:absolute;
  left:456px;
  top:263px;
  width:220px;
  height:32px;
}
#u2012_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2012_input {
  font-family:'微软雅黑';
}
#u2013 {
  position:absolute;
  left:456px;
  top:307px;
  width:140px;
  height:32px;
}
#u2013_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2013_input {
  font-family:'微软雅黑';
}
#u2013_input:disabled {
  color:grayText;
}
#u2013_ann {
  position:absolute;
  left:589px;
  top:303px;
  width:1px;
  height:1px;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2014 {
  position:absolute;
  left:421px;
  top:366px;
  width:57px;
  height:19px;
  color:#FF0000;
}
#u2015 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2016 {
  position:absolute;
  left:421px;
  top:139px;
  width:57px;
  height:19px;
  color:#FF0000;
}
#u2017 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2018 {
  position:absolute;
  left:403px;
  top:415px;
  width:43px;
  height:19px;
  text-align:right;
}
#u2019 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2020 {
  position:absolute;
  left:403px;
  top:456px;
  width:43px;
  height:19px;
  text-align:right;
}
#u2021 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2022 {
  position:absolute;
  left:403px;
  top:543px;
  width:43px;
  height:19px;
  text-align:right;
}
#u2023 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2024 {
  position:absolute;
  left:403px;
  top:498px;
  width:43px;
  height:19px;
  text-align:right;
}
#u2025 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2026 {
  position:absolute;
  left:361px;
  top:584px;
  width:85px;
  height:19px;
  text-align:right;
}
#u2027 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2028 {
  position:absolute;
  left:456px;
  top:578px;
  width:220px;
  height:32px;
}
#u2028_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2028_input {
  font-family:'微软雅黑';
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2029 {
  position:absolute;
  left:389px;
  top:626px;
  width:57px;
  height:19px;
  text-align:right;
}
#u2030 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2031 {
  position:absolute;
  left:456px;
  top:620px;
  width:220px;
  height:32px;
}
#u2031_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2031_input {
  font-family:'微软雅黑';
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2032 {
  position:absolute;
  left:387px;
  top:668px;
  width:59px;
  height:18px;
  text-align:right;
}
#u2033 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u2034 {
  position:absolute;
  left:456px;
  top:662px;
  width:220px;
  height:32px;
}
#u2034_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2034_input {
  font-family:'微软雅黑';
}
#u2035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2035 {
  position:absolute;
  left:375px;
  top:710px;
  width:71px;
  height:19px;
  text-align:right;
}
#u2036 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2037 {
  position:absolute;
  left:456px;
  top:704px;
  width:220px;
  height:32px;
}
#u2037_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2037_input {
  font-family:'微软雅黑';
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2038 {
  position:absolute;
  left:456px;
  top:766px;
  width:140px;
  height:40px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2040 {
  position:absolute;
  left:623px;
  top:766px;
  width:140px;
  height:40px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2042 {
  position:absolute;
  left:456px;
  top:416px;
  width:37px;
  height:19px;
}
#u2043 {
  position:absolute;
  left:16px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u2042_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2044 {
  position:absolute;
  left:522px;
  top:416px;
  width:37px;
  height:19px;
}
#u2045 {
  position:absolute;
  left:16px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u2044_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2046 {
  position:absolute;
  left:456px;
  top:450px;
  width:140px;
  height:32px;
}
#u2046_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2046_input {
  font-family:'微软雅黑';
}
#u2046_input:disabled {
  color:grayText;
}
#u2047 {
  position:absolute;
  left:456px;
  top:492px;
  width:140px;
  height:32px;
}
#u2047_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2047_input {
  font-family:'微软雅黑';
}
#u2047_input:disabled {
  color:grayText;
}
#u2048 {
  position:absolute;
  left:456px;
  top:536px;
  width:220px;
  height:32px;
}
#u2048_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2048_input {
  font-family:'微软雅黑';
}
