body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:940px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1227 {
  position:absolute;
  left:185px;
  top:0px;
  width:1015px;
  height:940px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:462px;
  width:1011px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:101px;
}
#u1230 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:100px;
  font-size:16px;
}
#u1231 {
  position:absolute;
  left:2px;
  top:40px;
  width:176px;
  word-wrap:break-word;
}
#u1230_ann {
  position:absolute;
  left:173px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1232 {
  position:absolute;
  left:1118px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1232_ann {
  position:absolute;
  left:1168px;
  top:18px;
  width:1px;
  height:1px;
}
#u1234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1234 {
  position:absolute;
  left:958px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1234_ann {
  position:absolute;
  left:1008px;
  top:18px;
  width:1px;
  height:1px;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1236 {
  position:absolute;
  left:1038px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1236_ann {
  position:absolute;
  left:1088px;
  top:18px;
  width:1px;
  height:1px;
}
#u1238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:52px;
  background:inherit;
  background-color:rgba(128, 128, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1238 {
  position:absolute;
  left:185px;
  top:59px;
  width:1015px;
  height:52px;
  color:#FFFFFF;
}
#u1239 {
  position:absolute;
  left:2px;
  top:16px;
  width:1011px;
  word-wrap:break-word;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:840px;
  background:inherit;
  background-color:rgba(128, 128, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1240 {
  position:absolute;
  left:0px;
  top:100px;
  width:180px;
  height:840px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:412px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1242 {
  position:absolute;
  left:0px;
  top:110px;
  width:180px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1243 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1244 {
  position:absolute;
  left:0px;
  top:263px;
  width:180px;
  height:41px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1246 {
  position:absolute;
  left:0px;
  top:314px;
  width:180px;
  height:41px;
}
#u1247 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1248 {
  position:absolute;
  left:0px;
  top:365px;
  width:180px;
  height:41px;
}
#u1249 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1250 {
  position:absolute;
  left:0px;
  top:416px;
  width:180px;
  height:41px;
}
#u1251 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1252 {
  position:absolute;
  left:0px;
  top:467px;
  width:180px;
  height:41px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1254 {
  position:absolute;
  left:0px;
  top:518px;
  width:180px;
  height:41px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1256 {
  position:absolute;
  left:117px;
  top:862px;
  width:43px;
  height:40px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u1256_ann {
  position:absolute;
  left:153px;
  top:858px;
  width:1px;
  height:1px;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1258 {
  position:absolute;
  left:0px;
  top:156px;
  width:180px;
  height:24px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1260 {
  position:absolute;
  left:66px;
  top:159px;
  width:49px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1261 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1262 {
  position:absolute;
  left:66px;
  top:183px;
  width:61px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1263 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1264 {
  position:absolute;
  left:66px;
  top:207px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1266 {
  position:absolute;
  left:66px;
  top:231px;
  width:49px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1267 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1268 {
  position:absolute;
  left:389px;
  top:186px;
  width:57px;
  height:19px;
  text-align:right;
}
#u1269 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1270 {
  position:absolute;
  left:456px;
  top:179px;
  width:220px;
  height:32px;
}
#u1270_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1270_input {
  font-family:'微软雅黑';
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1271 {
  position:absolute;
  left:403px;
  top:227px;
  width:43px;
  height:19px;
  text-align:right;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1273 {
  position:absolute;
  left:403px;
  top:314px;
  width:43px;
  height:19px;
  text-align:right;
}
#u1274 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1275 {
  position:absolute;
  left:337px;
  top:137px;
  width:73px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1276 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1277 {
  position:absolute;
  left:456px;
  top:221px;
  width:220px;
  height:32px;
}
#u1277_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1277_input {
  font-family:'微软雅黑';
}
#u1278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1278 {
  position:absolute;
  left:375px;
  top:269px;
  width:71px;
  height:19px;
  text-align:right;
}
#u1279 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1280 {
  position:absolute;
  left:456px;
  top:263px;
  width:220px;
  height:32px;
}
#u1280_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1280_input {
  font-family:'微软雅黑';
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1281 {
  position:absolute;
  left:403px;
  top:367px;
  width:43px;
  height:19px;
  text-align:right;
}
#u1282 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1283 {
  position:absolute;
  left:403px;
  top:408px;
  width:43px;
  height:19px;
  text-align:right;
}
#u1284 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1285 {
  position:absolute;
  left:403px;
  top:495px;
  width:43px;
  height:19px;
  text-align:right;
}
#u1286 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1287 {
  position:absolute;
  left:403px;
  top:450px;
  width:43px;
  height:19px;
  text-align:right;
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1289 {
  position:absolute;
  left:361px;
  top:536px;
  width:85px;
  height:19px;
  text-align:right;
}
#u1290 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1291 {
  position:absolute;
  left:456px;
  top:530px;
  width:220px;
  height:32px;
}
#u1291_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1291_input {
  font-family:'微软雅黑';
}
#u1292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1292 {
  position:absolute;
  left:389px;
  top:578px;
  width:57px;
  height:19px;
  text-align:right;
}
#u1293 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1294 {
  position:absolute;
  left:456px;
  top:572px;
  width:220px;
  height:32px;
}
#u1294_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1294_input {
  font-family:'微软雅黑';
}
#u1295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1295 {
  position:absolute;
  left:387px;
  top:620px;
  width:59px;
  height:18px;
  text-align:right;
}
#u1296 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1297 {
  position:absolute;
  left:456px;
  top:614px;
  width:220px;
  height:32px;
}
#u1297_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1297_input {
  font-family:'微软雅黑';
}
#u1298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1298 {
  position:absolute;
  left:375px;
  top:662px;
  width:71px;
  height:19px;
  text-align:right;
}
#u1299 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1300 {
  position:absolute;
  left:456px;
  top:656px;
  width:220px;
  height:32px;
}
#u1300_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1300_input {
  font-family:'微软雅黑';
}
#u1301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1301 {
  position:absolute;
  left:456px;
  top:730px;
  width:140px;
  height:40px;
}
#u1302 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u1303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1303 {
  position:absolute;
  left:623px;
  top:730px;
  width:140px;
  height:40px;
}
#u1304 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u1305 {
  position:absolute;
  left:456px;
  top:368px;
  width:37px;
  height:19px;
}
#u1306 {
  position:absolute;
  left:16px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u1305_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1307 {
  position:absolute;
  left:522px;
  top:368px;
  width:37px;
  height:19px;
}
#u1308 {
  position:absolute;
  left:16px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u1307_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1309 {
  position:absolute;
  left:456px;
  top:402px;
  width:140px;
  height:32px;
}
#u1309_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1309_input {
  font-family:'微软雅黑';
}
#u1309_input:disabled {
  color:grayText;
}
#u1310 {
  position:absolute;
  left:456px;
  top:444px;
  width:140px;
  height:32px;
}
#u1310_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1310_input {
  font-family:'微软雅黑';
}
#u1310_input:disabled {
  color:grayText;
}
#u1311 {
  position:absolute;
  left:456px;
  top:488px;
  width:220px;
  height:32px;
}
#u1311_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1311_input {
  font-family:'微软雅黑';
}
#u1312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:2px;
}
#u1312 {
  position:absolute;
  left:185px;
  top:353px;
  width:1015px;
  height:1px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1011px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314 {
  position:absolute;
  left:456px;
  top:308px;
  width:220px;
  height:32px;
}
#u1314_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1314_input {
  font-family:'微软雅黑';
}
#u1315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#FF0000;
}
#u1315 {
  position:absolute;
  left:456px;
  top:698px;
  width:49px;
  height:16px;
  font-size:12px;
  text-decoration:underline;
  color:#FF0000;
}
#u1316 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
