body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:961px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:131px;
  top:757px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:219px;
  top:755px;
  width:221px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:274px;
  top:855px;
  width:111px;
  height:35px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u4_ann {
  position:absolute;
  left:378px;
  top:851px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:219px;
  top:805px;
  width:221px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:131px;
  top:809px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:650px;
  top:750px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:652px;
  top:794px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:740px;
  top:792px;
  width:221px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:740px;
  top:746px;
  width:221px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:805px;
  top:840px;
  width:100px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
