body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1299px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:98px;
  width:1299px;
  height:582px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:582px;
}
#u1 {
  position:absolute;
  left:2px;
  top:283px;
  width:1295px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:431px;
  top:746px;
  width:224px;
  height:230px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:230px;
}
#u3 {
  position:absolute;
  left:2px;
  top:107px;
  width:220px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:930px;
  top:746px;
  width:231px;
  height:226px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:226px;
}
#u5 {
  position:absolute;
  left:2px;
  top:105px;
  width:227px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:175px;
  top:746px;
  width:233px;
  height:226px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:226px;
}
#u7 {
  position:absolute;
  left:2px;
  top:105px;
  width:229px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:677px;
  top:746px;
  width:230px;
  height:230px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
}
#u9 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:380px;
  top:1049px;
  width:196px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u11 {
  position:absolute;
  left:617px;
  top:1040px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:756px;
  top:1049px;
  width:200px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u14 {
  position:absolute;
  left:167px;
  top:1128px;
  width:233px;
  height:170px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:170px;
}
#u15 {
  position:absolute;
  left:2px;
  top:77px;
  width:229px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:422px;
  top:1128px;
  width:233px;
  height:170px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:170px;
}
#u17 {
  position:absolute;
  left:2px;
  top:77px;
  width:229px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:678px;
  top:1128px;
  width:233px;
  height:170px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:170px;
}
#u19 {
  position:absolute;
  left:2px;
  top:77px;
  width:229px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:934px;
  top:1128px;
  width:233px;
  height:170px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:170px;
}
#u21 {
  position:absolute;
  left:2px;
  top:77px;
  width:229px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:383px;
  top:1721px;
  width:200px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u23 {
  position:absolute;
  left:613px;
  top:1712px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:763px;
  top:1721px;
  width:200px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u26 {
  position:absolute;
  left:671px;
  top:70px;
  width:27px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:13px;
  top:46px;
  width:63px;
  height:49px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:49px;
}
#u29 {
  position:absolute;
  left:2px;
  top:16px;
  width:59px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:88px;
  top:59px;
  width:181px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:731px;
  top:70px;
  width:53px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:919px;
  top:71px;
  width:67px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1094px;
  top:71px;
  width:69px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:36px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:36px;
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:1295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1070px;
  top:10px;
  width:27px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:1103px;
  top:10px;
  width:10px;
  height:16px;
}
#u42_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u42_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u42_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u43 {
  position:absolute;
  left:177px;
  top:1849px;
  width:393px;
  height:21px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:21px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:177px;
  top:1897px;
  width:393px;
  height:17px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:17px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:177px;
  top:1873px;
  width:393px;
  height:17px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:177px;
  top:1921px;
  width:393px;
  height:37px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:37px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:177px;
  top:1944px;
  width:393px;
  height:37px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:37px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:177px;
  top:1968px;
  width:393px;
  height:37px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:37px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:177px;
  top:1991px;
  width:393px;
  height:37px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:37px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:177px;
  top:2015px;
  width:393px;
  height:37px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:37px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:177px;
  top:2040px;
  width:393px;
  height:37px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:37px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:177px;
  top:1819px;
  width:401px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:384px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:401px;
  height:1px;
}
#u62 {
  position:absolute;
  left:535px;
  top:1803px;
  width:43px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:177px;
  top:1795px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:755px;
  top:1849px;
  width:393px;
  height:21px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:21px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:755px;
  top:1897px;
  width:393px;
  height:17px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:17px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:755px;
  top:1873px;
  width:393px;
  height:17px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:17px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:755px;
  top:1921px;
  width:393px;
  height:37px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:37px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:755px;
  top:1944px;
  width:393px;
  height:37px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:37px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:755px;
  top:1968px;
  width:393px;
  height:37px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:37px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:755px;
  top:1991px;
  width:393px;
  height:37px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:37px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:755px;
  top:2015px;
  width:393px;
  height:37px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:37px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:757px;
  top:2040px;
  width:393px;
  height:37px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:37px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:755px;
  top:1819px;
  width:401px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:384px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:401px;
  height:1px;
}
#u85 {
  position:absolute;
  left:1115px;
  top:1803px;
  width:43px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:755px;
  top:1795px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:1008px;
  top:72px;
  width:67px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:826px;
  top:72px;
  width:53px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:1198px;
  top:72px;
  width:53px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:167px;
  top:1128px;
  width:233px;
  height:170px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:170px;
}
#u96 {
  position:absolute;
  left:2px;
  top:77px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:233px;
  top:1252px;
  width:100px;
  height:29px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u98 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:268px;
  top:1158px;
  width:27px;
  height:15px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:386px;
  top:1380px;
  width:196px;
  height:10px;
}
#u101_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u102 {
  position:absolute;
  left:601px;
  top:1371px;
  width:145px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:762px;
  top:1380px;
  width:200px;
  height:10px;
}
#u104_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u104_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u104_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u105 {
  position:absolute;
  left:192px;
  top:1455px;
  width:191px;
  height:210px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:210px;
}
#u106 {
  position:absolute;
  left:2px;
  top:97px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:382px;
  top:1455px;
  width:191px;
  height:210px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:210px;
}
#u108 {
  position:absolute;
  left:2px;
  top:97px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:572px;
  top:1455px;
  width:191px;
  height:210px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:210px;
}
#u110 {
  position:absolute;
  left:2px;
  top:97px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:761px;
  top:1455px;
  width:191px;
  height:210px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:210px;
}
#u112 {
  position:absolute;
  left:2px;
  top:97px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:950px;
  top:1455px;
  width:191px;
  height:210px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:210px;
}
#u114 {
  position:absolute;
  left:2px;
  top:97px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:162px;
  top:1535px;
  width:10px;
  height:50px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:50px;
}
#u116 {
  position:absolute;
  left:2px;
  top:17px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1162px;
  top:1539px;
  width:10px;
  height:50px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:50px;
}
#u118 {
  position:absolute;
  left:2px;
  top:17px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:409px;
  top:574px;
  width:222px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:534px;
  top:614px;
  width:196px;
  height:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:1119px;
  top:10px;
  width:53px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:1179px;
  top:10px;
  width:10px;
  height:16px;
}
#u125_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u125_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u125_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u126 {
  position:absolute;
  left:1196px;
  top:10px;
  width:53px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
