body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:837px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2905 {
  position:absolute;
  left:185px;
  top:0px;
  width:1015px;
  height:837px;
}
#u2906 {
  position:absolute;
  left:2px;
  top:410px;
  width:1011px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:101px;
}
#u2908 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:100px;
  font-size:16px;
}
#u2909 {
  position:absolute;
  left:2px;
  top:40px;
  width:176px;
  word-wrap:break-word;
}
#u2908_ann {
  position:absolute;
  left:173px;
  top:-4px;
  width:1px;
  height:1px;
}
#u2910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2910 {
  position:absolute;
  left:1118px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2911 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2910_ann {
  position:absolute;
  left:1168px;
  top:18px;
  width:1px;
  height:1px;
}
#u2912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2912 {
  position:absolute;
  left:958px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2913 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2912_ann {
  position:absolute;
  left:1008px;
  top:18px;
  width:1px;
  height:1px;
}
#u2914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2914 {
  position:absolute;
  left:1038px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2915 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2914_ann {
  position:absolute;
  left:1088px;
  top:18px;
  width:1px;
  height:1px;
}
#u2916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:52px;
  background:inherit;
  background-color:rgba(128, 128, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2916 {
  position:absolute;
  left:185px;
  top:59px;
  width:1015px;
  height:52px;
  color:#FFFFFF;
}
#u2917 {
  position:absolute;
  left:2px;
  top:16px;
  width:1011px;
  word-wrap:break-word;
}
#u2918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:737px;
  background:inherit;
  background-color:rgba(128, 128, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2918 {
  position:absolute;
  left:0px;
  top:100px;
  width:180px;
  height:737px;
}
#u2919 {
  position:absolute;
  left:2px;
  top:360px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2920 {
  position:absolute;
  left:0px;
  top:110px;
  width:180px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2921 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u2922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2922 {
  position:absolute;
  left:0px;
  top:161px;
  width:180px;
  height:41px;
  color:#FFFFFF;
}
#u2923 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u2924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2924 {
  position:absolute;
  left:0px;
  top:285px;
  width:180px;
  height:41px;
}
#u2925 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u2926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2926 {
  position:absolute;
  left:0px;
  top:336px;
  width:180px;
  height:41px;
}
#u2927 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u2928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2928 {
  position:absolute;
  left:0px;
  top:387px;
  width:180px;
  height:41px;
}
#u2929 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u2930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2930 {
  position:absolute;
  left:0px;
  top:438px;
  width:180px;
  height:41px;
}
#u2931 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u2932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2932 {
  position:absolute;
  left:0px;
  top:489px;
  width:180px;
  height:41px;
}
#u2933 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u2934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2934 {
  position:absolute;
  left:117px;
  top:777px;
  width:43px;
  height:40px;
}
#u2935 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u2934_ann {
  position:absolute;
  left:153px;
  top:773px;
  width:1px;
  height:1px;
}
#u2936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2936 {
  position:absolute;
  left:0px;
  top:207px;
  width:180px;
  height:24px;
}
#u2937 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2938 {
  position:absolute;
  left:66px;
  top:211px;
  width:49px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u2939 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2940 {
  position:absolute;
  left:66px;
  top:235px;
  width:49px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u2941 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2942 {
  position:absolute;
  left:66px;
  top:259px;
  width:25px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u2943 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2944 {
  position:absolute;
  left:375px;
  top:186px;
  width:71px;
  height:19px;
  text-align:right;
}
#u2945 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2946 {
  position:absolute;
  left:456px;
  top:179px;
  width:220px;
  height:32px;
}
#u2946_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2946_input {
  font-family:'微软雅黑';
}
#u2947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2947 {
  position:absolute;
  left:375px;
  top:227px;
  width:71px;
  height:19px;
  text-align:right;
}
#u2948 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2949 {
  position:absolute;
  left:375px;
  top:314px;
  width:71px;
  height:19px;
  text-align:right;
}
#u2950 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2951 {
  position:absolute;
  left:337px;
  top:137px;
  width:73px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2952 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2953 {
  position:absolute;
  left:375px;
  top:269px;
  width:71px;
  height:19px;
  text-align:right;
}
#u2954 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2955 {
  position:absolute;
  left:456px;
  top:263px;
  width:220px;
  height:32px;
}
#u2955_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2955_input {
  font-family:'微软雅黑';
}
#u2956 {
  position:absolute;
  left:456px;
  top:221px;
  width:140px;
  height:32px;
}
#u2956_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2956_input {
  font-family:'微软雅黑';
}
#u2956_input:disabled {
  color:grayText;
}
#u2957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2957 {
  position:absolute;
  left:456px;
  top:644px;
  width:140px;
  height:40px;
}
#u2958 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2959 {
  position:absolute;
  left:623px;
  top:644px;
  width:140px;
  height:40px;
}
#u2960 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:51px;
}
#u2962 {
  position:absolute;
  left:456px;
  top:305px;
  width:78px;
  height:51px;
}
#u2963 {
  position:absolute;
  left:2px;
  top:18px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:256px;
}
#u2964 {
  position:absolute;
  left:456px;
  top:356px;
  width:78px;
  height:256px;
}
#u2965 {
  position:absolute;
  left:2px;
  top:120px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:256px;
}
#u2966 {
  position:absolute;
  left:534px;
  top:356px;
  width:190px;
  height:256px;
}
#u2967 {
  position:absolute;
  left:2px;
  top:120px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:307px;
}
#u2968 {
  position:absolute;
  left:636px;
  top:305px;
  width:539px;
  height:307px;
}
#u2969 {
  position:absolute;
  left:2px;
  top:146px;
  width:535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2970 {
  position:absolute;
  left:471px;
  top:356px;
  width:691px;
  height:239px;
}
#u2970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:239px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2970_input {
  font-family:'微软雅黑';
}
#u2971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:51px;
}
#u2971 {
  position:absolute;
  left:471px;
  top:305px;
  width:190px;
  height:51px;
}
#u2972 {
  position:absolute;
  left:2px;
  top:18px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2971_ann {
  position:absolute;
  left:654px;
  top:301px;
  width:1px;
  height:1px;
}
