body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:677px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6742 {
  position:absolute;
  left:185px;
  top:0px;
  width:1015px;
  height:677px;
}
#u6743 {
  position:absolute;
  left:2px;
  top:330px;
  width:1011px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:52px;
  background:inherit;
  background-color:rgba(128, 128, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6744 {
  position:absolute;
  left:185px;
  top:59px;
  width:1015px;
  height:52px;
  color:#FFFFFF;
}
#u6745 {
  position:absolute;
  left:2px;
  top:16px;
  width:1011px;
  word-wrap:break-word;
}
#u6746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:577px;
  background:inherit;
  background-color:rgba(128, 128, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6746 {
  position:absolute;
  left:0px;
  top:100px;
  width:180px;
  height:577px;
}
#u6747 {
  position:absolute;
  left:2px;
  top:280px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6748 {
  position:absolute;
  left:0px;
  top:110px;
  width:180px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6749 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u6750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6750 {
  position:absolute;
  left:0px;
  top:161px;
  width:180px;
  height:41px;
}
#u6751 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u6752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6752 {
  position:absolute;
  left:0px;
  top:212px;
  width:180px;
  height:41px;
}
#u6753 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u6754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6754 {
  position:absolute;
  left:0px;
  top:263px;
  width:180px;
  height:41px;
}
#u6755 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u6756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6756 {
  position:absolute;
  left:0px;
  top:314px;
  width:180px;
  height:41px;
}
#u6757 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u6758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6758 {
  position:absolute;
  left:0px;
  top:365px;
  width:180px;
  height:41px;
}
#u6759 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u6760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6760 {
  position:absolute;
  left:0px;
  top:416px;
  width:180px;
  height:41px;
  color:#FFFFFF;
}
#u6761 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u6762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6762 {
  position:absolute;
  left:117px;
  top:619px;
  width:43px;
  height:40px;
}
#u6763 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u6762_ann {
  position:absolute;
  left:153px;
  top:615px;
  width:1px;
  height:1px;
}
#u6765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:101px;
}
#u6765 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:100px;
  font-size:16px;
}
#u6766 {
  position:absolute;
  left:2px;
  top:40px;
  width:176px;
  word-wrap:break-word;
}
#u6765_ann {
  position:absolute;
  left:173px;
  top:-4px;
  width:1px;
  height:1px;
}
#u6767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6767 {
  position:absolute;
  left:1118px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6768 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6767_ann {
  position:absolute;
  left:1168px;
  top:18px;
  width:1px;
  height:1px;
}
#u6769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6769 {
  position:absolute;
  left:958px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6770 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6769_ann {
  position:absolute;
  left:1008px;
  top:18px;
  width:1px;
  height:1px;
}
#u6771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6771 {
  position:absolute;
  left:1038px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6772 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6771_ann {
  position:absolute;
  left:1088px;
  top:18px;
  width:1px;
  height:1px;
}
#u6773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6773 {
  position:absolute;
  left:0px;
  top:510px;
  width:180px;
  height:24px;
}
#u6774 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6775 {
  position:absolute;
  left:66px;
  top:465px;
  width:49px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u6776 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6777 {
  position:absolute;
  left:66px;
  top:489px;
  width:49px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u6778 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6779 {
  position:absolute;
  left:66px;
  top:513px;
  width:49px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u6780 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:201px;
}
#u6781 {
  position:absolute;
  left:311px;
  top:239px;
  width:260px;
  height:200px;
}
#u6782 {
  position:absolute;
  left:2px;
  top:90px;
  width:256px;
  word-wrap:break-word;
}
#u6783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6783 {
  position:absolute;
  left:665px;
  top:267px;
  width:265px;
  height:144px;
  font-size:12px;
}
#u6784 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
