body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1299px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:100px;
  width:1299px;
  height:130px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:130px;
}
#u1 {
  position:absolute;
  left:2px;
  top:57px;
  width:1295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:171px;
  top:230px;
  width:679px;
  height:750px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:750px;
}
#u3 {
  position:absolute;
  left:2px;
  top:36px;
  width:675px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:758px;
  top:69px;
  width:27px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:13px;
  top:46px;
  width:63px;
  height:49px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:49px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:59px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:88px;
  top:59px;
  width:181px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:818px;
  top:69px;
  width:53px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1006px;
  top:70px;
  width:67px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1181px;
  top:70px;
  width:69px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1095px;
  top:71px;
  width:67px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:913px;
  top:71px;
  width:53px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:36px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:36px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:1295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1139px;
  top:10px;
  width:27px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:1197px;
  top:10px;
  width:27px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:849px;
  top:229px;
  width:281px;
  height:471px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:471px;
}
#u27 {
  position:absolute;
  left:2px;
  top:228px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:869px;
  top:264px;
  width:53px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:865px;
  top:303px;
  width:250px;
  height:160px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:160px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:865px;
  top:490px;
  width:250px;
  height:150px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:150px;
}
#u33 {
  position:absolute;
  left:2px;
  top:67px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:171px;
  top:920px;
  width:210px;
  height:50px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:17px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:699px;
  top:385px;
  width:100px;
  height:35px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37 {
  position:absolute;
  left:776px;
  top:274px;
  width:53px;
  height:16px;
  color:#0099FF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:1036px;
  top:664px;
  width:79px;
  height:16px;
  color:#0099FF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
